* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pagina {
  width: 100%;
  display: flex;
}

.conteinerListino1, .conteinerListino2 {
  width: 50%;
}

.pizza {
  position: relative;
  padding: 5px;
}

.pizza:hover {
  background: #aaa;
}

.prezzo {
  position: absolute;
  top: 20%;
  right: 0;
  font-weight: bold;
}

.nome {
  font-family: 'Pacifico', cursive;
  font-size: 20px;
}
