* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pagina {
  width: 100%;
  display: flex;
}

.tittleListino {font-weight: bolder;font-size: 30px;padding: 5px;text-align: center;}

.conteinerListino1, .conteinerListino2, .conteinerListino3 {
  width: calc(100% / 3);
}

.pizza {
  position: relative;
  padding: 5px;
}

.pizza:hover {
  background: #aaa;
}

.prezzo {
  position: absolute;
  top: 20%;
  right: 0;
  font-weight: bold;
}

.nome {
  font-family: 'Pacifico', cursive;
  font-size: 20px;
}
