
*{
  margin: 0;
  box-sizing: border-box;
}

.background {
  background: dimgrey;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}

.conteiner {
  width: 80%;
  margin: auto;
  background: white;

  content: "";
  display: table;
  clear: both;
}

.logo {
  margin-top: 10px;
  height: 15vh;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

.content2 {
  width: auto;
  float: right;
  margin: 10px;
  padding-left: 10px;
}

iframe {
  -webkit-box-shadow: -8px 10px 17px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -8px 10px 17px 0px rgba(0,0,0,0.75);
  box-shadow: -8px 10px 17px 0px rgba(0,0,0,0.75);
}

/* inizio info */

.info {
  width: 100%;
  display: flex;
  -webkit-box-shadow: inset 0px -21px 19px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px -21px 19px -8px rgba(0,0,0,0.75);
  box-shadow: inset 0px -21px 19px -8px rgba(0,0,0,0.75);
}

.navigation {
  text-align: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.scelta.navig, .tel.navig, .via.navig {
  font-size: 23px;
  font-family: 'Pacifico', cursive;
  padding: 5px;
  min-width: 33%;
}

/* fine */

/* inizio navigazione */

.mainNavig {
  width: calc(100% - 372px);
  float: left;
  position: relative;
  top: 10px;
  display: flex;
  justify-content: space-around;
}

.mainNavig > a {
  min-width: 25%;
  text-decoration: none;
  color: black;
  padding: 5px;
  font-size: 20px;
  font-style: italic;
  background: #eee;
  text-align: center;
}

.mainNavig > a:hover {
  background: #ccc;
}
/* fine navigazione */
